spring:
  application:
    name: student-management-system
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  defer-datasource-initialization: true
  datasource:
    url: jdbc:mysql://localhost:3306/student-management-system?useSSL=false
    username: root
    password: saisriram
#  sql:
#    init:
#      mode: always
#      data-locations: classpath:data.sql

logging:
  level:
    org:
      springframework:
        jdbc:
          datasource:
            init: DEBUG
            init.ScriptUtils: DEBUG